<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body>

    <div class="container">
      <div class="row">
        <div class="col">

    <h1>Information</h1>
          <hr>

    <p>
        Skin cancer is the most common cancer in the United States. 
        Some people are at higher risk of skin cancer than others, but anyone can get it. 
        The most preventable cause of skin cancer is overexposure to ultraviolet (UV) light, either from the sun or from artificial sources like tanning beds.
        </p>

    <p>The good news is that 99 percent of all cases are curable if they are diagnosed and treated early enough. But in order to stop skin cancer, we have to spot it on time.

        Skin cancer is the cancer you can see. Unlike cancers that develop inside the body, skin cancers form on the outside and are usually visible. That’s why skin exams, both at home and with a dermatologist, are especially vital.
    </p>

    <h1>Links For More Information</h1>

    <ul>
        <li><a href="https://www.skincancer.org/skin-cancer-information/">skincancer.org</a></li>
        <li><a href="https://www.cdc.gov/cancer/skin/basic_info/index.html">CDC</a></li>
        <li><a href="https://www.cdc.gov/cancer/skin/basic_info/index.htm">cancer.org</a></li>
      </ul>

    </div>


</body>
</html>
