{% extends "master.html" %}

{% block body %}
<div style="display:flex;justify-content:center;">
<img id="image" width="300" height="300" style="float:top;text-decoration:none;margin-bottom:5%;"/>
</div>
<div class="container">

  <form action="/upload" method="POST" enctype="multipart/form-data" style="text-align: center;">
      <div style="display: inline;">
        <input type="file" name="image" id="files" style="display:none;">

        <label class="btns" for="files">Browse</label>
      </div>
    <div style="display:inline">
      <button type="submit" class="btns">Submit</button>
    </div>
  </form>
</div>



    {{ result }}

    <div>
      {% if result %}
      {% if 'malignant' in result%}
          SEE A DOCTOR
      {% else %}
          PROBABLY STILL SEE A DOCTOR
      {% endif %}
      {% endif %}
  </div>

  </div>
      </div>
    </div>

    <script typle="text/javascript">
      document.getElementById('files').onchange = function () {
  var src = URL.createObjectURL(this.files[0])
  document.getElementById('image').src = src
}
    </script>


    {% endblock %}
